@font-face {
  font-family: 'forumregular';
  src: url('../fonts/forum_allfont.ru-webfont.woff2') format('woff2'),
  url('../fonts/forum_allfont.ru-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'koalaplain';
  src: url('../fonts/koala_plain-webfont.woff2') format('woff2'),
  url('fonts/koala_plain-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url(../fonts/georgia.ttf);
}

@font-face {
  font-family: 'Linotype';
  src: url(../fonts/linotypezapfino-one.ttf);
}

