body {
  position: relative;
  line-height: 1.6;
  font-family: Robotolight, sans-serif;
  font-size: 14px;
  font-style: normal;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: montserratbold, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 320px;
  margin: 0 auto;
}

  .clearfix:after {
  content: "";
  display: table;
  clear: both;
}
