.holiday {
  text-align: center;
  position: relative;
  h2 {
    color: #333333;
    font-size: 22px;
    @media (min-width: 768px) {
      margin-top: 100px;
    }
  }
}

.holiday__wrapper {
  max-width: 320px;
  margin: 0 auto;
  color: white;
  @media (min-width: 768px) {
    max-width: 748px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media (min-width: 1200px) {
    max-width: 944px;
  }
}

.holidey__items {
  font-family: 'montserratbold';
  font-size: 22px;
  border-radius: 4px;
  margin-top: 10px;
  p {
    padding: 44px 0 42px;
    margin: 0;
  }
}

.holidey__item1 {
   background: #ffffff url("../img/sport_mob.jpg") no-repeat;
  @media (min-width: 768px) {
    background: #ffffff url("../img/sport_tab.jpg") no-repeat;
    padding: 85px 16px 106px;
  }
  @media (min-width: 1200px) {
    background: #ffffff url("../img/sport_des.jpg") no-repeat;
    padding: 85px 49px 106px;
  }
 }

.holidey__item2 {
  background: #ffffff url("../img/wellnes_mob.jpg") no-repeat;
  @media (min-width: 768px) {
    background: #ffffff url("../img/wellnes_tab.jpg") no-repeat;
    padding: 85px 9px 106px;
  }
  @media (min-width: 1200px) {
    background: #ffffff url("../img/wellnes_des.jpg") no-repeat;
    padding: 85px 41px 106px;
  }
}
.holidey__item3 {
  background: #ffffff url("../img/extremal_mob.jpg") no-repeat;
  p {
    padding: 22px 0 22px;
  }
  @media (min-width: 768px) {
    background: #ffffff url("../img/extremal_tab.jpg") no-repeat;
    padding: 85px 0 106px;
    max-width: 237px;
  }
  @media (min-width: 1200px) {
    background: #ffffff url("../img/extremal_des.jpg") no-repeat;
    padding: 85px 31px 106px;
  }
}

.holidey__item4 {
  background: #ffffff url("../img/games_mob.jpg") no-repeat;
  @media (min-width: 768px) {
    background: #ffffff url("../img/games_tab.jpg") no-repeat;
    padding: 85px 79px 106px;
  }
  @media (min-width: 1200px) {
    background: #ffffff url("../img/games_des.jpg") no-repeat;
    padding: 85px 112px 106px;
  }
}

.holidey__item5 {
  background: #ffffff url("../img/culture_mob.jpg") no-repeat;
  @media (min-width: 768px) {
    background: #ffffff url("../img/culture_tab.jpg") no-repeat;
    padding: 85px 120px 106px;
  }
  @media (min-width: 1200px) {
    background: #ffffff url("../img/culture_des.jpg") no-repeat;
    padding: 85px 184px 106px;
  }
}

.holidey__item6 {
  background: #ffffff url("../img/relaxation_mob.jpg") no-repeat;
  @media (min-width: 768px) {
    background: #ffffff url("../img/relaxation_tab.jpg") no-repeat;
    padding: 85px 186px 106px;
  }
  @media (min-width: 1200px) {
    background: #ffffff url("../img/relaxation_des.jpg") no-repeat;
    padding: 85px 250px 106px;
  }
}

.holidey__item7 {
  background: #ffffff url("../img/traweling_mob.jpg") no-repeat;
  @media (min-width: 768px) {
    background: #ffffff url("../img/traweling_tab.jpg") no-repeat;
    padding: 85px 63px 106px;
  }
  @media (min-width: 1200px) {
    background: #ffffff url("../img/traweling_des.jpg") no-repeat;
    padding: 85px 94px 106px;
  }
}

.holiday__question {
  font-family: "Roboto Light";
  font-size: 18px;
}

.holiday__interests {
  width: 268px;
  height: 40px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding-left: 10px;
  @media (min-width: 768px) {
    margin-left: 127px;
  }
  @media (min-width: 1200px) {
    margin-left: 230px;
  }
}

.holiday__toggle {
  padding: 10px 80px;
  border: 2px solid $accent-color;
  border-radius: 35px;
  background-color: $accent-color;
  color: white;
  font-family: "montserratbold";
  font-size: 14px;
  cursor: pointer;
  margin: 10px 0 40px;
  @media (min-width: 768px) {
    margin: 0 135px 40px 0;
    padding: 9px 40px;
  }
  @media (min-width: 1200px) {
    margin: 0 223px 40px 0;
  }
}

.holiday__toggle:hover {
  background-color: $hover-color;
}

.holiday:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: $accent-color;
  bottom: 0;
  left: 0;
}

