.manual {
  @media (min-width: 1200px) {
    margin-top: 155px;
  }
}

.manual__wrapper {
  margin: 0 auto;
  align-items: center;
  color: white;
  max-width: 320px;
  @media (min-width: 768px) {
    max-width: 748px;
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: 1200px) {
    max-width: 944px;
  }
}

.manual__title {
  text-align: center;
  margin-bottom: 5px;
  @media (min-width: 1200px) {
    margin-bottom: 35px;
  }
}

.manual__step1,
.manual__step2,
.manual__step3{
  margin: 10px auto 0;
  max-width: 300px;
  border-radius: 4px;
  position: relative;
  @media (min-width: 768px) {
    max-width: 236px;
  }
  @media (min-width: 1200px) {
    max-width: 300px;
  }
}

.manual__step1-wrapper,
.manual__step3-wrapper {
  position: absolute;
  top: 70px;
  padding: 0 17px;
  p {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 14px;
    line-height: 15px;
  }
  span {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 10px;
    padding: 2px 14px;
    border: 2px solid $accent-color;
    border-radius: 35px;
    background-color: $accent-color;
  }
  h3 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 5px;
  }
  @media (min-width: 768px) {
    top: 216px;
  }
  @media (min-width: 1200px) {
    top: 230px;
  }
}

.manual__step2-wrapper {
  position: absolute;
  top: 105px;
  padding: 0 17px;
  p {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 14px;
    line-height: 15px;
  }
  span {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 10px;
    padding: 2px 14px;
    border: 2px solid $accent-color;
    border-radius: 35px;
    background-color: $accent-color;
  }
  h3 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 5px;
  }
  @media (min-width: 768px) {
    top: 260px;
  }
  @media (min-width: 1200px) {
    top: 260px;
  }
}

.manual__prev {
  display: none;
  @media (min-width: 768px) {
    display: block;
    position: absolute;
    background: url("../img/prev_tab.png") no-repeat;
    width: 30px;
    height: 56px;
    top: -180px;
  }
  @media (min-width: 1200px) {
    top: -80px;
  }
}

.manual__next {
  display: none;
  @media (min-width: 768px) {
    display: block;
    position: absolute;
    background: url("../img/next_tab.png") no-repeat;
    width: 30px;
    height: 56px;
    top: -180px;
    right: 20px;
  }
  @media (min-width: 1200px) {
    top: -80px;
  }
}

.manual__prev-step2 {
  display: none;
  @media (min-width: 768px) {
    display: block;
    position: absolute;
    background: url("../img/prev_tab.png") no-repeat;
    width: 30px;
    height: 56px;
    top: -224px;
  }
  @media (min-width: 1200px) {
    top: -110px;
  }
}

.manual__next-step2 {
  display: none;
  @media (min-width: 768px) {
    display: block;
    position: absolute;
    background: url("../img/next_tab.png") no-repeat;
    width: 30px;
    height: 56px;
    top: -224px;
    right: 20px;
  }
  @media (min-width: 1200px) {
    top: -110px;
  }
}
