.manual__wrapper {
  margin: 0 auto;
  align-items: center;
  color: white;
  max-width: 320px;
  @media (min-width: 768px) {
    max-width: 748px;
    display: flex;
    justify-content: space-between;
  }
}

.manual__title {
  text-align: center;
  margin-bottom: 5px;
}

.manual__step1 {
  max-width: 300px;
  background: #ffffff url("../img/comp_mob.png") no-repeat;
  border-radius: 4px;
  margin-top: 10px;
  @media (min-width: 768px) {
    background: #ffffff url("../img/comp_tab.png") no-repeat;
    max-width: 236px;
  }
}

.manual__step2 {
  margin-top: 10px;
  max-width: 300px;
  background: #ffffff url("../img/car_mob.png") no-repeat;
  border-radius: 4px;
  @media (min-width: 768px) {
    background: #ffffff url("../img/car_tab.png") no-repeat;
    max-width: 236px;
  }
}

.manual__step3 {
  margin-top: 10px;
  max-width: 300px;
  background: #ffffff url("../img/feet_mob.png") no-repeat;
  border-radius: 4px;
  @media (min-width: 768px) {
    background: #ffffff url("../img/feet_tab.png") no-repeat;
    max-width: 236px;
  }
}

.manual__step1-wrapper,
.manual__step3-wrapper{
  padding: 70px 20px 10px;
  p {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 14px;
    line-height: 15px;
  }
  span {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 10px;
    padding: 2px 14px;
    border: 2px solid $accent-color;
    border-radius: 35px;
    background-color: $accent-color;
  }
  h3 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 5px;
  }
  @media (min-width: 768px) {
    padding: 220px 20px 10px;
    position: relative;
  }
}

.manual__step2-wrapper, {
  padding: 104px 20px 10px;
  p {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 14px;
    line-height: 15px;
  }
  span {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 10px;
    padding: 2px 14px;
    border: 2px solid $accent-color;
    border-radius: 35px;
    background-color: $accent-color;
  }
  h3 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 5px;
  }
  @media (min-width: 768px) {
    padding: 265px 20px 10px;
    position: relative;
  }
}

.manual__prev {
  display: none;
  @media (min-width: 768px) {
    display: block;
    position: absolute;
    background: url("../img/prev_tab.png") no-repeat;
    width: 30px;
    height: 56px;
    top: 43px;
  }
}

.manual__next {
  display: none;
  @media (min-width: 768px) {
    display: block;
    position: absolute;
    background: url("../img/next_tab.png") no-repeat;
    width: 30px;
    height: 56px;
    top: 43px;
    right: 20px;
  }
}
