.partner {
  text-align: center;
  @media (min-width: 1200px) {
    margin-top: 155px;
  }
}

.partner h2 {
  text-align: center;
  @media (min-width: 1200px) {
    margin-bottom: 35px;
  }
}

.partner__wrapper {
  margin: 0 auto;
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 748px;
  }
  @media (min-width: 1200px) {
    max-width: 944px;
    justify-content: space-between;
  }
}


.partner__items {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  p,
  h3 {
    font-size: 14px;
  }
}

.partner__item1,
.partner__item2,
.partner__item3,
.partner__item4 {
  @media (min-width: 768px) {
    max-width: 258px;
    margin: 0;
  }
  @media (min-width: 1200px) {
    max-width: 195px;
    margin: 0;
  }
}

.partner__item1 {
  @media (min-width: 768px) {
    order: 1;
  }
}

.partner__item2 {
  @media (min-width: 768px) {
    order: 3;
    margin-top: 30px;
  }
  @media (min-width: 1200px) {
    margin-top: 0;
  }
}

.partner__item3 {
  @media (min-width: 768px) {
    order: 2;
  }
}

.partner__item4 {
  @media (min-width: 768px) {
    order: 4;
    margin-top: 30px;
  }
  @media (min-width: 1200px) {
    margin-top: 0;
  }
}

.partner__item1:before {
  position: absolute;
  content: "";
  width: 41px;
  height: 41px;
  background: url("../img/icon_television.png") no-repeat;
  bottom: 100px;
  right: 85px;
  @media (min-width: 768px) {
    bottom: 114px;
    right: 66px;
  }
  @media (min-width: 1200px) {
    bottom: 155px;
    right: 42px;
  }
}

.partner__item2:before {
  position: absolute;
  content: "";
  width: 41px;
  height: 41px;
  background: url("../img/icon_science.png") no-repeat;
  bottom: 116px;
  right: 85px;
  @media (min-width: 768px) {
    bottom: 132px;
    right: 66px;
  }
  @media (min-width: 1200px) {
    bottom: 155px;
    right: 42px;
  }
}

.partner__item3:before {
  position: absolute;
  content: "";
  width: 41px;
  height: 41px;
  background: url("../img/icon_coffe.png") no-repeat;
  bottom: 100px;
  right: 85px;
  @media (min-width: 768px) {
    bottom: 114px;
    right: 66px;
  }
  @media (min-width: 1200px) {
    bottom: 155px;
    right: 42px;
  }
}

.partner__item4:before {
  position: absolute;
  content: "";
  width: 41px;
  height: 41px;
  background: url("../img/icon_plane.png") no-repeat;
  bottom: 100px;
  right: 85px;
  @media (min-width: 768px) {
    bottom: 132px;
    right: 66px;
  }
  @media (min-width: 1200px) {
    bottom: 155px;
    right: 42px;
  }
}

.partner__toggle {
  border-radius: 35px;
  border: 2px solid $accent-color;
  background-color: white;
  font-family: montserratbold;
  font-size: 14px;
  color: $accent-color;
  padding: 7px 50px;
  cursor: pointer;
  @media (min-width: 768px) {
    margin-top: 20px;
  }
}

.partner__toggle:hover {
  background-color: $hover-color;
  color: white;
}
